.closed-votes {
  &__ballot {
    margin-bottom: 20px;
    padding: 0;
  }

  > {
    .row {
      > {
        [class*='col'] {
          padding-bottom: 4rem;

          &:nth-child(odd) {
            padding-right: 2rem;
          }

          &:nth-child(even) {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}
