.asset-list {
  background-color: var(--white);
  color: var(--black);
  font-size: 1rem;

  &--empty {
    align-items: center;
    background-color: inherit;
    border: 1px solid var(--white);
    color: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__scrollbars {
    &__view {
      overflow-x: hidden !important;
    }
    
    &__thumb {
      background-color: var(--blue);
    }
  }

  &__item {
    border-bottom: 1px solid var(--light-grey);

    &:last-child {
      border-bottom: 0;
    }
  }
}
