.vote-ballot {
  font-size: 1.2rem;

  > .row {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    animation: spin 1s ease-out;

    @keyframes spin {
      0% {
        opacity: 0;
        transform: rotate(0deg);
      }

      100% {
        opacity: 1;
        transform: rotate(1080deg);
      }
    } 
  }

  &__label {
    text-transform: uppercase;
  }

  &__result-cards {
    &,
    &.row {
      margin-bottom: 2rem;
    }

    .asset-card {
      display: block;
    }
  }

  &__asset-list {
    height: 30rem;

    &__item {
      &--highlight {
        border: 6px solid var(--turq);
        padding: 1rem calc(1rem - 8px);
      }
    }

    .vote-form-asset-list-item {
      fieldset {
        border-color: var(--grey);

        legend {
          color: var(--grey);
        }
      }
    }
  }
}
