.app-header {
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;

  &__container {
    box-sizing: content-box;
  }

  &__menu {    
    .btn {
      color: var(--field-grey-two);
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin-right: 1rem;
      text-decoration: none;

      &:last-child {
        margin-right: 0;
      }
    } 
  }
}
