.vote-form-asset-list-item {
  &__weight {
    line-height: 0;
    max-width: 5rem;
  }

  fieldset {
    border-color: var(--grey);
    padding: 0 1rem;

    &.editable {
      border-color: var(--blue);
    }

    legend {
      color: var(--blue);
      font-size: 0.7rem;
      margin-left: -0.6rem;
      padding: 0.5rem;
    }

    .form-control {
      padding-bottom: 0.3rem;
    }
  }
}
