.how-to-play {
  &__item {
    align-items: flex-start;
    display: flex;

    &__icon {
      margin-right: 2rem;
      width: 2rem;
    }

    &__label {
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2rem;
      margin-top: 0.3rem;
    }
  }
}
